<div>
    <div>
        <p>Lista de Productos</p>
    </div>
    <div>
        <ul>
            {{#each products}}
            <li>{{title}} - ${{price}}</li>
            {{/each}}
        </ul>
    </div>
</div>