<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Handlebars APP" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Handlebars" />

    <title>Mi aplicación</title>

    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    {{!-- Main --> unico con triple llave --}}
    {{{body}}}
  </body>
</html>